[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
flasgger = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-script = "*"
apispec = "*"
marshmallow-sqlalchemy = "*"
jwt = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
